brotlipy==0.7.0
certifi==2021.5.30
cffi==1.14.0
chardet
cryptography
cycler==0.10.0
dataclasses
easydict==1.9
easydl==2.0.7
h5py==2.10.0
idna
joblib
kiwisolver
matplotlib
mkl-fft==1.3.0
mkl-random==1.2.0
mkl-service==2.3.0
numpy
olefile
pandas==1.1.5
pathlib2==2.3.5
patsy==0.5.1
Pillow
protobuf==3.15.8
pycparser
pyOpenSSL
pyparsing==2.4.7
PySocks
python-dateutil==2.8.1
pytz
PyYAML==5.3.1
pyzmq
requests
scikit-learn
scipy
seaborn
six
statsmodels
tensorboardX==2.0
threadpoolctl
torch==1.2.0
torchfile==0.1.0
torchvision==0.4.0a0+9232c4a
tornado
tqdm==4.45.0
typing-extensions
urllib3
visdom==0.1.8.9
websocket-client
